<div class="row">

	<div class="col-lg-12">
		<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<span #hello_1>Hello charan ji</span>
			<span class="myclass">Hello rahul ji</span>
			<span class="myclass">Hello kishan ji</span>
		<div class="card">
		<div class="card-header">
			Sample Form
		</div>
		<div class="card-body">
		<form #sampleForm="ngForm" (ngSubmit)='onSubmit()'>
			<div class="form-group">
			   <div class="row">
					<div class="col-lg-2">
					<label for="name">Name</label>
					</div>
					<div class="col-lg-8">
					<input type="text" name="name"  class="form-control" #name="ngModel" placeholder="Name" [(ngModel)]="form.name" required>
					<small class="text text-danger" *ngIf="name.errors?.required && name.touched">Name Can't be empty.</small>
					</div>
				</div>
			</div>
			<div class="form-group">
			   <div class="row">
					<div class="col-lg-2">
					<label for="name">Password</label>
					</div>
					<div class="col-lg-8">
					<input type="password" name="password" minlength="8" maxlength="10" class="form-control" #password="ngModel" placeholder="Password" [(ngModel)]="form.password" required>
					<small class="text text-danger" *ngIf="password.errors?.required && password.touched">Password Can't be empty.</small>
					<small class="text text-danger" *ngIf="password.errors?.minlength && password.touched">Password should be min 8 characters long.</small>
					<small class="text text-danger" *ngIf="password.errors?.maxlength && password.touched">Password should not be greater than 10 characters.</small>
					</div>
				</div>
			</div>
			<div class="form-group">
			   <div class="row">
					<div class="col-lg-2">
					<label for="name">Confirm Password</label>
					</div>
					<div class="col-lg-8">
					<input type="password" name="passwordConfirm" [validateEqual]="'password'" class="form-control" #passwordConfirm="ngModel" placeholder="Confirm Password" [(ngModel)]="form.passwordConfirm" required>
					<small class="text text-danger" *ngIf="passwordConfirm.errors?.required && passwordConfirm.touched">Confirm Password Can't be empty.</small>
					<small class="text text-danger" *ngIf="passwordConfirm.errors?.notEqual && passwordConfirm.touched && !passwordConfirm.errors?.required">Password and Confirm Password should be matched.</small>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-2">
					<label for="name">Email</label>
					</div>
					<div class="col-lg-8">
					<input type="email" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" class="form-control" #email="ngModel" placeholder="Email" [(ngModel)]="form.email" required>
					<div *ngIf="email.invalid && email.touched">
					<small class="text text-danger" *ngIf="email.errors?.required && email.touched">Eamil Can't be empty.</small>
					<small class="text text-danger" *ngIf="email.errors?.pattern && email.touched">Please provide a vilid email address.</small>
					</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-lg-12 offset-2">
				<button type="submit" class="btn btn-success" [disabled]="!sampleForm.valid">Submit</button>
				<button type="reset" class="btn btn-success">Reset</button>
				</div>
			</div>
		</form>
		</div>
		</div>
		</div>
		</div>
	</div>

	<div class="col-lg-10">

		Your Names: {{ passwordConfirm.errors | json }}

	</div>


</div>

<p appHighlight>Highlight me!</p>

<p appHighlight>ramj mk!</p>


<h1 class="alert alert-success" *appHideMe="isHidden">Hi I am structural directive text</h1>
